---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Astro Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>I love <span style="color: red;">Astro</span>🚀</h1>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
